
#mainNavBar .navbar-brand {
    color: #EA1C2C;
    font-size: 3rem;
}

#languageSection {
    margin-top: 15rem;
}

.languageRow {
    flex-wrap: wrap;
    justify-content: center
}

.languages {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-evenly;
}

button {
    margin-bottom: 1rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  background-color: brown ;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}